In [1]:
# Datatypes

In [2]:
# Numeric type -> int, float, complex
# Set
# dict
# Sequence type -> str, tuple, list
# booleans

In [3]:
a=8
a

8

In [4]:
b=6.3
b

6.3

In [5]:
c={a:b, 'hi':3}
c

{8: 6.3, 'hi': 3}

In [6]:
d='hello'
d

'hello'

In [7]:
e=(a,b,c,d)
e

(8, 6.3, {8: 6.3, 'hi': 3}, 'hello')

In [8]:
f=[a,b,c]
f

[8, 6.3, {8: 6.3, 'hi': 3}]

In [9]:
g=True
int(g)

1

In [10]:
def call(s,t):
    k=s+t
    return k

In [11]:
call('hello', 'badal')

'hellobadal'

In [12]:
call(7,3.65)

10.65

In [13]:
y=call(5,3)
y

8

In [14]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [15]:
for i in f:
    print(i)

8
6.3
{8: 6.3, 'hi': 3}

In [16]:
f

[8, 6.3, {8: 6.3, 'hi': 3}]

In [17]:
f[0]

8

In [18]:
u = f[-1]
u

{8: 6.3, 'hi': 3}

In [19]:
v = u.keys()
list(v)

[8, 'hi']

In [20]:
u.values()

dict_values([6.3, 3])

In [21]:
for i,j in u.items():
    print(i,j)

8 6.3
hi 3

In [22]:
for i in u:
    print(i,u[i])

8 6.3
hi 3

In [23]:
u['hi']

3

In [24]:
f

[8, 6.3, {8: 6.3, 'hi': 3}]

In [25]:
f.append(8.56)

In [26]:
f

[8, 6.3, {8: 6.3, 'hi': 3}, 8.56]

In [27]:
f.pop()

8.56

In [28]:
f

[8, 6.3, {8: 6.3, 'hi': 3}]

In [29]:
f.pop()

{8: 6.3, 'hi': 3}

In [30]:
f

[8, 6.3]

In [31]:
f.insert(0,6.09)

In [32]:
f

[6.09, 8, 6.3]

In [33]:
f.remove(6.3)

In [34]:
f

[6.09, 8]

In [35]:
h=[1,2,3,4,1,2,3]
h

[1, 2, 3, 4, 1, 2, 3]

In [36]:
h.remove(2)

In [37]:
h

[1, 3, 4, 1, 2, 3]

In [38]:
# class

In [39]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)
        print("My age is " + str( self.age ))

In [40]:
p1 = Person("Vicky", 22)
p1.myfunc()

Hello my name is Vicky
My age is 22

In [41]:
p2 = Person('Badal', 20)
p2.myfunc()

Hello my name is Badal
My age is 20

In [42]:
class calc:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    def add(self):
        return self.a + self.b 
    
    def sub(self):
        return self.a - self.b 
    
    def mul(self):
        return self.a * self.b 
    
    def div(self):
        return self.a / self.b 
    
    def rem(self):
        return self.a % self.b

In [43]:
p1 = calc(45.7, 5)
r1 = p1.add()
r1

50.7

In [44]:
type(r1)

float

In [45]:
m1 = p1.mul()
print(m1)

228.5

In [46]:
p2 = calc(4,2)
p2

In [47]:
s = p2.sub()
print(s)

2

In [48]:
k = p2.mul()
k

8

In [49]:
j = p1.div()
j

9.14

In [50]:
class Account:
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance

    def __str__(self):
        return f'Account owner:   {self.owner}\nAccount balance: ${self.balance}'

    def deposit(self,dep_amt):
        self.balance += dep_amt
        print('Deposit Accepted')
        print(self.owner, "'s Balance is $", self.balance)

    def withdraw(self,wd_amt):
        if self.balance >= wd_amt:
            self.balance -= wd_amt
            print('Withdrawal Accepted')
            print(self.owner, "'s Balance is $", self.balance)
        else:
            print('Funds Unavailable!')

In [51]:
# 1. Instantiate the class
acct1 = Account('Jose',200)

# 2. Print the object
print(acct1)

Account owner:   Jose
Account balance: $200

In [52]:
# 3. Show the account owner attribute
acct1.owner

'Jose'

In [53]:
# 4. Show the account balance attribute
acct1.balance

200

In [54]:
# 5. Make a series of deposits and withdrawals
acct1.deposit(50)

Deposit Accepted
Jose 's Balance is $ 250

In [55]:
acct1.withdraw(75)

Withdrawal Accepted
Jose 's Balance is $ 175

In [56]:
# 6. Make a withdrawal that exceeds the available balance
acct1.withdraw(500)

Funds Unavailable!

In [57]:
# 6. Make a withdrawal that exceeds the available balance
acct1.withdraw(45)

Withdrawal Accepted
Jose 's Balance is $ 130

In [58]:
# 5. Make a series of deposits and withdrawals
acct1.deposit(500)

Deposit Accepted
Jose 's Balance is $ 630

In [59]:
acct2 = Account('imvickykumar999')
print(acct2)

Account owner:   imvickykumar999
Account balance: $0

In [60]:
acct2.deposit(200)

Deposit Accepted
imvickykumar999 's Balance is $ 200

In [61]:
acct2.withdraw(150)

Withdrawal Accepted
imvickykumar999 's Balance is $ 50